body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    flex-flow: row wrap;
    /*flex-direction: row;
    /flex-wrap: wrap;*/

    border: 3px solid black;
    padding: 3px;
}

.caja{
    font-size: 20px;
    font-weight: bold;
    flex-grow: 1;

    text-align: center;
    color: whitesmoke;
    padding: 20px;
    border: 4px solid #222;
    margin: 5px; 
    background-color: gray;
}

.red{
    flex-grow: 3;
    background-color: red;
}

.blue{
    flex-grow: 1;
    background-color: blue;
}

.green{
    flex-grow: 1;
    background-color: green;
}

.black{
    flex-grow: 1;
    background-color: black;
}