body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    --rojo:red;
}

#layout{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /*flex-direction: row;
    /flex-wrap: wrap;*/

    border: 3px solid black;
    padding: 3px;
}

.caja{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
    border: 4px solid #222;
    margin: 5px; 
    background-color: gray;
}

.red{
    /*flex-grow: 3;*/
    background-color: var(--rojo);
}

.blue{
    /*flex-grow: 1;*/
    background-color: blue;

}

.green{
    /*flex-grow: 1;*/
    background-color: green;
}

.black{
    /*flex-grow: 1;*/
    background-color: black;
}